ul {
  list-style: none;  /* Remove os marcadores/bolinhas */
  padding: 0;        /* Remove o padding padrão (principal responsável pelo recuo) */
  margin: 0;         /* Remove a margem padrão */
}

.experiencia {
  max-width: 900px;
  padding: 1%;
  margin: 0 auto;
}

.experiencia .subtitulo {
  color: #181817e8;
  margin: 0;
  text-align: center;
  font-size: 57px;
}

.experiencia-texto {
  font-size: 19px;
  line-height: 1.33;
  color: #525252;
  text-align: justify;
}

.experiencia-texto strong {
  color: #525252;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0px;
  padding: 2px;
  background: #fcf6f6b6;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.projeto::before {
  content: '';
  display: block;
  width: 5px;
  height: 30px;
  background: linear-gradient(#f8b729, #788125fa);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-titulo {
  font-size: 18px;
  line-height: 1.1;
  font-weight: bold;
  padding: 2%;
  margin: 0;
  padding-left: 7%;
}

.projeto-texto {
  font-size: 17px;
  line-height: 1.4;
  color: #525252;
  padding: 1%;
  margin: 0;
  padding-right: 10%;
  text-align: justify;
  padding-left: 7%;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #788125fa;
  padding: 5px 10px;
}