header {
  max-width: 1900px;
  padding: 10px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

a {
  font-size: x-large;
  padding: 3px 3px;
  color: #5a5a5a;
  display: block;
}

body {
  background: url('../img/fundo.png');
}

.footer{
  background-color: #fcf6f6b6;
}

.footer-container {
  max-width: 1200px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  align-items: center;
}

.footer-texto {
  font-size: 30px;
  line-height: 1.33;
  color: #a3a3a3;
}

.footer-contato li {
  padding-top: 2%;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.1;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.footer-contato li a {
  color: #a3a3a3;
  margin: 0%;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 20px;
  color: #8f8f8f;
  text-align: center;
  margin: 0%;
}